<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main Page</title>
</head>
<body>
	[% INCLUDE header.tt %]
	<div class="main">
		<h1>Welcome to main page [% c.user.login %]</h1>
	</div>
</body>
</html>